<div class="container-fluid bg-primary">
  <div class="row h-100 d-flex flex-row-reverse">
    <div class="col-4 bg-white d-flex align-items-center">
      <div class="container p-5 text-black-50">
        <%= yield %>
      </div>
    </div>
  </div>
</div>