<%= render "shared/backOffice_header" %>
<%= render 'backOffice_nav' %>
<div class="container text-muted py-5">

<h2>Nova Categoria de refeição</h2>
<hr>
<%= render 'form', categorium: @categorium %>


<%= render 'shared/footer' %>
