<%= render "shared/backOffice_header" %>
<%= render 'shared/backOffice_nav' %>
<div class="container text-muted py-5">

<h5><strong>Nova Categoria de refeição</strong></h5>
<hr>
<%= render 'form', categorium: @categorium %>

</div>
<%= render 'shared/footer' %>
