<div class="container-fluid bg-dark">
  <div class="container">
    <ul class="nav">
      <li class="nav-item text-muted"><%= link_to "Pedidos", new_order_path, class: "nav-link" %></li>
      <li class="nav-item text-muted"><%= link_to "Usuários", users_path, class: "nav-link" %></li>
      <li class="nav-item text-muted"><%= link_to "Refeições", new_meal_path, class: "nav-link nav-link"%></li>
      <li class="nav-item text-muted"><%= link_to "Categorias de Refeições", new_categorium_path, class: "nav-link nav-link"%></li>
    </ul>
  </div>
</div>
