<% if flash[:notice] %>
<div id="notice" class="alert alert-success fade show text-center text-dark m-0 p-2">
  <span><%= notice %></span>
  <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<% elsif flash[:alert] %>
<div id="notice" class="alert alert-warning fade show text-center text-dark m-0 p-2">
  <span><%= alert %></span>
  <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>