<%= render "shared/backOffice_header" %>
<%= render 'shared/backOffice_nav' %>

<div class="container text-muted py-5">

<h2>Editar Categoria</h2>

<%= render 'form2', meal_category: @meal_category %>

<%= render 'shared/footer' %>