<%= render "shared/backOffice_header" %>
<%= render 'shared/backOffice_nav' %>
<div class="container text-muted py-5">
<h5>Editar pedidos</h5>
<hr>

<%= render 'editar', order: @order %>

</div>
<%= render 'shared/footer' %>