.container-fluid {
  height: 100vh;
  background: url('sabri-tuzcu-365440.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nounderline {
  text-decoration: none !important;
}