#image-profile {
  //nao possui a imagem
  overflow: auto;
  height: 50vh;
  //check this hack
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('helloquence-61189.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
  background-color: transparent;
}